{% extends "base.html" %} {% block content %}
<script src="https://js.arcgis.com/3.21/"></script>
<script src="static/t_map.js"></script>
<script>
    var thematic_region = '{{region}}'
    var min_max = {{min_max | safe }}
    var data = {{json_vardata | safe }};
    var column = {{column | safe }};
    var real_column = '{{real_column | safe}}';

</script>

<div id="map"></div>
<div class="flex-container">




    <div class="flex-item colum1">
        <table id="mapLegend">
            <tr>
                <td id="one_c"></td>
                <td><input type="text" size="10" id="one_b"></td>
                <td> to </td>
                <td id="one_a"> </td>

            </tr>
            <tr>
                <td id="two_c"></td>
                <td><input type="text" size="10" id="two_b"></td>
                <td> to </td>
                <td id="two_a"></td>
            </tr>
            <tr>
                <td id="three_c"></td>
                <td><input type="text" size="10" id="three_b"></td>
                <td> to </td>
                <td id="three_a"></td>
            </tr>
            <tr>
                <td id="four_c"></td>
                <td><input type="text" size="10" id="four_b"></td>
                <td> to </td>
                <td id="four_a"></td>
            </tr>
            <tr>
                <td id="five_c"></td>
                <td><input type="text" size="10" id="five_b"></td>
                <td> to </td>
                <td><input type="text" size="10" id="five_a"></td>
            </tr>
            <tr>
                <td><select id="selectColor" name="selectColor">
                        
                        <option value="0">Green to Red</option>
                        <option value="1">Green scale</option>
                        <option value="2">Orange to Red</option>
                        <option value="3">Purple scale</option>
                        <option value="4">Blue to Red</option>
                        <option value="5">Pastel</option>
                        <option value="6">Monochrome</option>
                    
                         
                      </select></td>
                <td></td>
                <td></td>
                <td><input type="button" class="btn updatebtn" id="updateBreaks" value="Update"></td>
            </tr>
        </table>
    </div>
    <div class="flex-item them_note"> A Thematic Map for Values of <b>{{real_column}}</b> as selected by you.
        <hr/>
        <p>
            Note: Census Data is collected using the <a href="http://www.abs.gov.au/websitedbs/D3310114.nsf/home/Australian+Statistical+Geography+Standard+(ASGS)" targe="_blank">ABS ASGS framework.</a><br>
            Have a look at the ABS for detailed metadata on fields that interest you.
            <br.>
                The breaks are calculated by taking the top value, and dividing by 5. 
                You can amend the breaks to fit data as needed.
                <br/><br/>
                If you're feeling game and want to trim the data down, this can be done by editing the json in the text area.<br>Just hit <b>Update</b> when ready!
                The data is an array of arrays. Just like this...<br><b>[["geography_area", value],["geography_area", value]]</b>...good luck!


    </div>

    <div class="flex-item">

    <textarea type="text" cols="70" rows="10" id="dataArray"></textarea>
        
    </div>


</div>


<script>

</script>
{%endblock%}